body {
  /* outline: 2px black solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  /* outline: 1px red solid; */
  flex: 1;
  text-align: center;
  /* flex-grow */
}

h3 {
  /* outline: 1px red solid; */
  flex: 1;
  text-align: center;
  /* flex-grow */
}

img {
  /* outline: 1px red solid; */
  flex: 1;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 2px brown solid; */
  width: 500px;
  height: 150px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 2px blue solid; */
}

input {
  /* border:2px blue solid; */
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}

a {
  /* outline: 2px red solid; */
  margin-bottom: 1rem;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

button.shorten {
  /* outline: 3px purple solid; */
  width: 50%;
  background-color: white;
  border: 1px solid rgb(109, 109, 255);
  color: rgb(109, 109, 255);
  padding: 0.5rem;
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
}

button.copy,
a.back {
  width: 12.5%;
  margin: 5px auto;
  padding: 0.5rem 0;
  background-color: white;
  font-size: 1.2rem;
}

a.back {
  border: 1px solid brown;
  color: brown;
}

button.copy {
  border: 1px solid rgb(29, 141, 100);
  color: rgb(29, 141, 100);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}